body{
    font-family:"Montserrat", sans-serif;
    margin-left:auto;
    margin-right:auto;
    width:1400px;
    background-color:blanchedalmond;
    border-style:solid;
}
main,
header,
article,
summary
{
    margin-left:170px;
    margin-right:170px;
    padding: 0 10px;
    margin-top:5%;
}

.main-title{
    text-align:center;
}
.main-img{
    display:block;
    margin-left:auto;
    margin-top:1%;
    margin-right:auto;
    width:50%;
    border-style:solid;

}
.side-menu
{
    float:left;
    width:160px;
    text-align:center;
    position:fixed;
    border-right:solid;


}
footer{
    text-align:center;
}
h1,
h3{
    text-decoration:underline;
}
.container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left:auto;
    margin-right:auto;

}
.box{
    border-style:solid;
    width:200px;
    height:200px;
    text-align:center;
    background-color:white;
}
/*.program-choice{
    float:right;
    width:10em;
    padding-right:2%;
    border-left:1px;
    text-align:center
}*/
footer,
article{
    margin-top:5%;
}
.sem-ele{
    width: 180px;
    height:180px;
    padding-top:1%;
}