main
{
    border-style:solid;
    text-align:center;
    border-left:0 10px;
    border-right:0 10px;
    border-color:black;
    margin-left:170px;
    margin-right:170px; 
    
}
header
{
    text-align:center;
    margin-left:160px;
    margin-right:160px;
    padding: 0 10px;

}
article,
footer{
    text-align:center;
    margin-left:160px;
    margin-right:160px;
    padding: 0 10px;
}

h1{
    border-style: double;
    margin:auto;
    width:50%;
}
.side-menu{
    float:left;
    width:160px;
    height:100%;
    text-align:center;
    position:fixed;
    
}
.doggos
{

    background-color:black;
    border-style:solid;
    padding: 0 10px;
    margin-left:170px;
    margin-right:170px;

}

body{
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
    width:1440px;
    background-color:navajowhite;
}
.side-ad{
    width:160px;
    text-align:center;
    float:right;
    height:auto;
}
.right-article{
    float:right;
    border-style:double;
    padding:0 10px;
    margin-left:170px;
    margin-right:170px;
}
.projects{
    margin-left:170px;
}
a:hover[href = "index.html"]{
    background-color:red;
}
a:hover[href="about-me.html"]{
    background-color:blue;
}
/* figure out how to align element to right side of page */