body{
    font-family:"Montserrat", sans-serif;
    margin-left:10%;
    margin-right:auto;
    padding-top:5%;
    width:1400px;
    background-color:grey;
}
div:not(.container)
{
    background-color:blanchedalmond;
    border-style:solid;

}
main
{
    border-style:solid;
    text-align:center;
    border-left:0 10px;
    border-right:0 10px;
    border-color:black;
    margin-left:170px;
    margin-right:170px; 
    
}
header
{
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/10c67757-e4fa-43a1-a635-c0e7238be1de/dgtptz6-1994770a-0a74-41be-97bc-fe2957170016.png/v1/fill/w_1280,h_285,q_80,strp/welcome_banner_1_by_sacredrebelartwerx_dgtptz6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEwYzY3NzU3LWU0ZmEtNDNhMS1hNjM1LWMwZTcyMzhiZTFkZVwvZGd0cHR6Ni0xOTk0NzcwYS0wYTc0LTQxYmUtOTdiYy1mZTI5NTcxNzAwMTYucG5nIiwiaGVpZ2h0IjoiPD0yODUiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC8xMGM2Nzc1Ny1lNGZhLTQzYTEtYTYzNS1jMGU3MjM4YmUxZGVcL3NhY3JlZHJlYmVsYXJ0d2VyeC00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.mMuJtgfP2KlLu9P2Vt9IGc-TKpiI3foLwycfTdlT52o);
    background-size:cover;
    text-align:center;
    height:15em;
    margin-left:160px;
    margin-right:160px;
}

article{
    text-align:center;
    margin-left:160px;
    margin-right:160px;
}

h1{
    border-style: double;
    margin:auto;
    width:50%;
}
.side-menu{
    float:left;
    width:160px;
    text-align:center;
    position:fixed;
    border-right:solid;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.right-article{
    border-style:double;
    margin-left:170px;
    margin-right:170px;
}

.square-list{
    list-style-type:square;
}
#my-projects{
    text-align:center;
    text-decoration: underline;
}
h3,
h2{
    text-decoration:underline;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin:0 170px 0 170px;
    text-align:center;
    padding-bottom:5%;

}
.box{
    background-color:black;
    width:250px;
    height:250px;
    border-style:groove;
    border-color:black;
}

.box-image{
    width:250px;
    height:250px;
}
footer{
    background-color:lightgrey;
    width:100%;
    height:200px;
    color:white;
    text-align:center;
    padding-top:10%;
    border-top:solid black; 
    
}
/*Psuedo selectors*/
p:first-letter{
    font-size:200%;
    font-weight:bold;
    font-family:"Biorhyme Expanded", sans-serif;
}
 a:hover{
    font-size:125%;
    font-weight:bold;
    transition:ease-in-out .2s;
}
a:visited{
    color:black;
    text-decoration:none;
}

a:hover[href="about-me.html"],
a:hover[href = "index.html"]
{
    background-color:yellow;
}
.box:hover{
    border:groove 6px;
    margin:5px;
    transition: .1s ease-in-out;
}

/* figure out how to align element to right side of page */